twinkle/src/distributions.o
twinkle/src/gig.o
twinkle/src/nig.o
twinkle/src/starfilters.o
twinkle/src/symbols.rds
twinkle/src/twinkle.o
twinkle/src/twinkle.so
*.dll
src/starfilters.o
src/symbols.rds
src/twinkle.o
src/twinkle.so
vignettes/The_Twinkle_Package.bbl
src-i386/
src-x64/
.Rproj.user
.Rhistory
